ipykernel<7
ipywidgets<8
jupyter<2
langchain<2
langchainhub<2
langchain-chroma<2
langchain-community<2
langchain-openai<2
langchain-pinecone<2
langgraph<2
langserve[all]
notebook<8
openai<2
pypdf<5
python-dotenv<2
pytube<16
scikit-learn<2
streamlit<2
tavily-python<2
tqdm<5
whisper<2
youtube-transcript-api<2